*{
    padding: 0;
    margin: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
}

#wrapper{
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.section1{
    display: flex;
}
.section1 .yellow{
    position: relative;
    width: 70%;
    height: 1000px;
}

.section1 .yellow::after{
    content: '';
    display: block;
    width: 0%;
    height: 100%;
    background-color: rgb(255, 179, 0);
    transition: all 0.6s;
    position: absolute;
    top: 0;
    left: 0;
}

.section1.active .yellow::after{
    width: 100%;
}

.section1 .yellow h1{
    position: fixed;
    top: 12%;
    left: 10%;
    z-index: 9999;
}

.section1 .yellow .txt{
    padding: 25%;
    color: #fff;
    line-height: 130px;
    position: relative;
    z-index: 1;
}
.section1 .yellow .txt p{
    font-size: 55px;
    font-weight: bold;
    font-family: Gmarket Sans;
    height: 130px;
    position: relative;
    width: 100%;
}

.section1 .yellow .txt .tit .cover{
    display: block;
    overflow: hidden;
    transition: all 0.4s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
}

.section1 .yellow .txt .tit .layer{
    display: block;
    line-height: 130px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
}

.section1 .yellow .txt.active p span.cover,
.section1 .yellow .txt.active p span.overwrap {
    height: 100%;
}

.section1 .yellow .txt .retro{
    font-size: 135px;
    font-weight: bold;
    font-family: Gmarket Sans;
    height: 155px;
    width: 100%;
    position: relative;
}

.section1 .yellow .txt .retro .cover{
    display: block;
    overflow: hidden;
    transition: all 0.4s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition-delay: 0.2s;
}

.section1 .yellow .txt .retro .overwrap{
    display: block;
    overflow: hidden;
    transition: all 0.4s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition-delay: 0.6s;
}

.section1 .yellow .txt .retro .layer{
    display: block;
    line-height: 155px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 155px;
}

.section1 .yellow .txt .retro .overwrap .ov_layer{
    display: block;
    line-height: 155px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 155px;
    color: rgb(235, 0, 0);
}

.section1 .camera{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.6s;
    transition-delay: 0.2s;
    right: -100%;
    z-index: 2;
    opacity: 0;
}

.section1.active .camera{
    right: -25%;
    opacity: 1;
}

.section1 .gray{
    width: 30%;
    height: 1000px;
    position: relative;
}

.section1 .gray::after{
    content: '';
    display :block;
    width: 100%;
    height: 0%;
    transition: all 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(52, 54, 60);
}

.section1.active .gray::after{
    height: 100%;
}



/*---------------section1---------------------*/

.section2{
    position: relative;
}

.section2:after{
    display: block;
    content: '';
    clear: both;
}

.section2 .wrap{
    display: flex;
    width: 75%;
    height: 760px;
    background-color: rgb(52, 54, 60);
    float: right;
    position: relative;
    margin-bottom: 100px;
}

.section2 .wrap h3{
    position: absolute;
    top: 100px;
    right: 20%;
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    font-family: Gmarket Sans;
}
.section2 .wrap h3 span{
    color: rgb(255, 179, 0);
}

.section2 .wrap iframe{
    position: absolute;
    top: 260px;
    right: 14%;
    transform: translateX(-50%);
}

.section2 .main_font{
    width: 25%;
    height: 1300px;
    float: left;
    font-size: 150px;
    color: rgb(255, 179, 0);
    font-family: Gmarket Sans;
    font-weight: bold;
}
.section2 .main_font span{
    transform: rotate(270deg) translateX(-100px);
    transform-origin:left top;
    position: absolute;
    top: 105%;
    left: 8%;
}

.section2 .txt{
    font-size: 60px;
    position: relative;
    margin-left: 60%;
    font-family: Gmarket Sans;
    font-weight: normal;
}

.section2 .txt .kodak{
    font-size: 70px;
    color: rgb(235, 0, 0);
}
.section2 .txt .heritage{
    font-size: 70px;
    color: rgb(255, 179, 0);
}


/*---------------section2---------------------*/


.section3{
    width: 1280px;
    height: auto;
    margin: 200px auto;
}

.section3::after{
    display: block;
    content: '';
    clear: both;
}

.section3 > div{
    padding-bottom: 500px;
}

.daily{
    position: relative;
}

.daily .txt_box{
    position: absolute;
    top: 550px;
    right: -100px;
}

.daily .photo{
    position: relative;
}

.daily .photo.active:after{
    width: 765px;
}

.daily .photo.active .layer{
    height: 502px;
}

.daily .photo.active .layer span{
    height: 100%;
}

.daily .photo:after{
    content: '';
    display: block;
    width: 765px;
    height: 540px;
    background-color: rgb(235, 0, 0);
    position: relative;
    width: 0;
    transition: all 0.6s;
}

.daily .photo .layer{
    position: absolute;
    /* bottom: 92px; */
    top: -50px;
    left: 150px;
    width: 667px;
    height: 0;
    background-color: #34363c;
    z-index: 1;
    transition: all 0.6s;
    transition-delay: 0.2s;
}

.daily .photo .layer span{
    display: block;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.6s;
    transition-delay: 0.4s;
    background-image: url(../images/photo_daily.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right top;
}



.daily p{
    font-size: 50px;
    font-family: Gmarket Sans;
    font-weight: 200;
    line-height: 65px;
}

.daily h3{
    font-size: 75px;
    color: rgb(235, 0, 0);
    font-family: Gmarket Sans;
    font-weight: bold;
    padding-bottom: 20px;
}

.traval{
    position: relative;
}

.traval .txt_box{
    position: absolute;
    top: 550px;
    right: -100px;
}

.traval .photo{
    position: relative;
}

.traval .photo.active:after{
    width: 772px;
}

.traval .photo.active .layer{
    height: 562px;
}

.traval .photo.active .layer span{
    height: 100%;
}

.traval .photo:after{
    content: '';
    display: block;
    width: 772px;
    height: 516px;
    background-color: rgb(255, 179, 0);
    position: relative;
    width: 0;
    transition: all 0.6s;
    margin-left: 500px;
}

.traval .photo .layer{
    position: absolute;
    /* bottom: 92px; */
    top: 50px;
    right: 140px;
    width: 562px;
    height: 0;
    background-color: #34363c;
    z-index: 1;
    transition: all 0.6s;
    transition-delay: 0.2s;
}

.traval .photo .layer span{
    display: block;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.6s;
    transition-delay: 0.4s;
    background-image: url(../images/photo_traval.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right top;
}
.traval::after{
    display: block;
    content: '';
    clear: both;
}

.traval img{
    float: right;
}

.traval{
    position: relative;
}

.traval .txt_box{
    position: absolute;
    bottom: -250px;
    left: 0px;
}

.traval span{
    position: absolute;
    top: 50px;
    right: 100px;
}

.traval p{
    font-size: 50px;
    font-family: Gmarket Sans;
    font-weight: 200;
    line-height: 65px;
}

.traval h3{
    font-size: 75px;
    color: rgb(255, 179, 0);
    font-family: Gmarket Sans;
    font-weight: bold;
    padding-bottom: 20px;
}



.nearly{
    position: relative;
}

.nearly .txt_box{
    position: absolute;
    top: 400px;
    right: -50px;
}

.nearly .photo{
    position: relative;
    margin-left: 90px;
}

.nearly .photo.active:after{
    width: 555px;
}

.nearly .photo.active .layer{
    height: 748px;
}

.nearly .photo.active .layer span{
    height: 100%;
}

.nearly .photo:after{
    content: '';
    display: block;
    width: 555px;
    height: 752px;
    background-color: rgb(52, 54, 60);
    position: relative;
    width: 0;
    transition: all 0.6s;
    margin-left: -100px;
}

.nearly .photo .layer{
    position: absolute;
    /* bottom: 92px; */
    top: 100px;
    left: 100px;
    width: 500px;
    height: 0;
    background-color: #34363c;
    z-index: 1;
    transition: all 0.6s;
    transition-delay: 0.2s;
}

.nearly .photo .layer span{
    display: block;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.6s;
    transition-delay: 0.4s;
    background-image: url(../images/photo_nearly.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right top;
}

.nearly::after{
    display: block;
    content: '';
    clear: both;
}
.nearly img{
    float: left;
}

.nearly{
    position: relative;
}


.nearly p{
    font-size: 50px;
    font-family: Gmarket Sans;
    font-weight: 200;
    line-height: 65px;
}

.nearly h3{
    font-size: 75px;
    color: #34363c;
    font-family: Gmarket Sans;
    font-weight: bold;
    padding-bottom: 20px;
}


span.circle{
    transform: translateY(50px);
}

.section3 .moment{
    text-align: center;
    font-size: 50px;
    position: relative;
    padding-bottom: 100px;
    font-family: Gmarket Sans;
    line-height: 75px;
    font-weight: 200;
}

.section3 .moment .daily_font{
    font-weight: lighter;
}

.section3 .moment .txt{
    z-index: 1;
}

.section3 .moment .kodak{
    color: rgb(235, 0, 0);
    font-size: 65px;
    font-weight: bold;
}
.section3 .moment .moment{
    color: rgb(255, 179, 0);
    font-size: 65px;
    font-weight: bold;
}

.section3 .moment .circle{
    width: 400px;
    height: 400px;
    background: #f5f6f9;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: 150px;
    z-index: -1;
}



.section4 .camera1::after{
    display: block;
    content: '';
    clear: both;
}

.section4 .camera1{
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 150px;
}
.section4 .camera1 .txt{
    position: absolute;
    top: 230px;
    right: 10%;
    width: 850px;
    height: auto;
}
.section4 .camera1 .txt h5{
    font-size: 65px;
    float: right;
    font-family: Gmarket Sans;
    font-weight: 500;
}

.section4 .camera1 .txt img{
    margin: 30px 0 30px;
}

.section4 .camera1 .txt h5 span{
    color: rgb(255, 179, 0);
}

.section4 .camera1 .txt p{
    font-size: 30px;
    padding-left: 120px;
    font-family: Gmarket Sans;
    font-weight: 200;
    line-height: 45px;
}


.section4 .camera2::after{
    display: block;
    content: '';
    clear: both;
}
.section4 .camera2{
    padding-bottom: 300px;
}

.section4 .camera2 img{
    margin-top: 200px;
    float: right;
}

.section4 .camera2 .circle{
    width: 800px;
    height: 800px;
    background: #f5f6f9;
    border-radius: 50%;
    position: absolute;
    left: -6%;
    z-index: -1;
}

.section4 .camera2 .txt{
    float: left;
    margin-left: 20%;
    margin-top: 10%;
    font-family: Gmarket Sans;
    font-weight: 200;
}
.section4 .camera2 .txt h5{
    font-family: Gmarket Sans;
    font-weight: 500;
    font-size: 75px;
}

.section4 .camera2 .txt p{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 30px;
    line-height: 45px;
}

.section4 .camera2 .txt .yellow{
    color: rgb(255, 179, 0);
}

.section4 .camera2 .txt .red{
    color: rgb(235, 0, 0);
}


.section4 .camera3{
    position: relative;
}
.section4 .camera3 .txt{
    float: right;
    margin-right: 7%;
    font-size: 30px;
    font-family: Gmarket Sans;
    font-weight: 200;
}

.section4 .camera3 .txt p{
    line-height: 45px;
}
.section4 .camera3 .circle{
    width: 570px;
    height: 570px;
    background: #f5f6f9;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    right: 3%;
    z-index: -1;
}

.section4 .camera3 .txt img{
    margin-left: 20%;
}
.section4 .camera3 .txt h5{
    font-size: 75px;
    margin-left: -30px;
    margin-bottom: 60px;
    margin-top: 30px;
    font-family: Gmarket Sans;
    font-weight: 500;
}

.section4 .camera3 .txt h5 span{
    color: rgb(235, 0, 0);
}

.section4 .camera3 .txt > p span{
    padding-bottom: 30px;
}

.section4 .camera3{
    margin-bottom: 200px;
}

.section4 .camera4{
    padding-top: 100px;
}
.section4 .camera4 h5{
    font-size: 75px;
    margin-left: 20%;
    font-family: Gmarket Sans;
    font-weight: 500;
}

.section4 .camera4 h5 span{
    color: rgb(255, 179, 0);
}

.section4 .camera4 .txt{
    display: flex;
    margin-left: 10%;
    margin-top: 50px
}

.section4 .camera4 .txt p{
    font-size: 30px;
    margin: 30px 60px 0;
    font-family: Gmarket Sans;
    font-weight: 200;
}

.section4 .camera4 .img{
    position: absolute;
    right: 5%;
    top: 30%;
}

.section4 .camera4{
    position: relative;
}

.section5{
    padding-top: 200px;
}

.section5 > div{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.section5 .white{
    height: 2051px;
    background-image: url(../images/section5_bg1.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
    z-index: 1;
}

.section5 .yellow{
    height: 2050px;
    background-image: url(../images/section5_bg2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
}

.section5 div img.product{
    position: absolute;
    top: 50%;
    left: 50%;
}

.section5 div img.rail{
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0.;
}

.section5 .white img.product{
    /* transform: translate(-50%, -29%) rotate(-24deg); */
    transform: translate(237%, -197%) rotate(-24deg);
}

.section5 .white img.rail{
    /* transform: translate(-50%, -50%) rotate(12deg); */
    transform: translate(30%, 141%) rotate(12deg);
}

.section5 .yellow img.product{
    /* transform: translate(-50%, -29%) rotate(24deg); */
    transform: translate(-337%, -193%) rotate(24deg);
}

.section5 .yellow img.rail{
    /* transform: translate(-50%, -50%) rotate(-12deg); */
    transform: translate(-131%, 143%) rotate(-12deg);
}

.section5 .white .txt{
    position: absolute;
    top: 10%;
    left: 13%;
}

.section5 .yellow .txt{
    position: absolute;
    top: 10%;
    right: 13%;
    transform: rotate(2deg);
}

.section5 .white span{
    font-size: 65px;
    color: rgb(52, 54, 60);
    position: absolute;
    bottom: 17%;
    right: 13%;
    transform: rotate(12deg);
    font-family: Gmarket Sans;
    font-weight: bold;
}

.section5 .yellow span{
    font-size: 65px;
    color: rgb(52, 54, 60);
    position: absolute;
    bottom: 17%;
    left: 13%;
    transform: rotate(-12deg);
    font-family: Gmarket Sans;
    font-weight: bold;
}

.section6 .wrap{
    width: 1280px;
    height: auto;
    margin: 100px auto;
    text-align: center;
}

.section7{
    width: 100%;
    height: auto;
    background-color: #f5f6f9;
    z-index: 0;
}
.section7 .wrap{
    width: 1280px;
    height: 2450px;
    margin: 300px auto 0;
    position: relative;
    background-image: url(../images/prmotion_bg_font.png);
    background-repeat: no-repeat;
    background-position: right center;

}

.section7 .wrap h5{
    padding-top: 250px;
    font-size: 70px;
    color: rgb(255, 179, 0);
    font-family: Gmarket Sans;
    font-weight: bold;
}

.section7 .wrap h5 span{
    color: rgb(235, 0, 0);
    font-family: Gmarket Sans;
    font-weight: bold;
}

.section7 .wrap h6{
    font-size: 60px;
    margin-left: 300px;
    font-family: Gmarket Sans;
    font-weight: normal;
}

.section7 .wrap .first{
    font-size: 40px;
    font-family: Gmarket Sans; 
    padding-top: 100px;
    margin-left: 600px;
    
}
.section7 .wrap .photo1{
    position: relative;
    z-index: 1;
    margin-top: 100px;
}
.section7 .wrap .photo1 span{
    width: 450px;
    height: 450px;
    background: rgb(255, 179, 0);
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: -1;
}

.section7 .wrap .photo2{
    margin-top: -50px;
    margin-left: 50%;
    position: relative;
    z-index: 1;
}

.section7 .wrap .photo2 span{
    width: 700px;
    height: 700px;
    background: rgb(235, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: -1;   
    top: 10%;
    left: -25%;
}

.section7 .wrap .second{
    font-size: 40px;
    font-family: Gmarket Sans;
    font-weight: normal; 
    padding-top: 100px;
    line-height: 60px
}


footer{
    background-color: rgb(255, 179, 0);
    width: 100%;
    height: 450px;
    position: relative;
}

footer .f_logo{
    position: absolute;
    bottom: 50px;
    right: 10%;
}

footer .wrap{
    padding-top: 100px;
    padding-left: 10%;
}

footer .wrap div > span{
    font-size: 40px;
    color: #f5f6f9;
    vertical-align: top;
    margin-left: 30px;
    
}